Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [file, python]

      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [file, python]

      - id: yamlfix
        name: yamlfix
        entry: poetry run yamlfix
        language: system
        types: [file, yaml]

add project locations endpoint handling
  cwms/projects/projects.py
  tests/projects/projects_test.py
  tests/resources/project_locations.json
Due: black, isort

add in rating-spec-id for json example
  tests/resources/outlet.json
  tests/resources/outlets.json
Due: none

fix standard text endpoint
  cwms/__init__.py
  cwms/standard_text/standard_text.py
  cwms/timeseries/timeseries_txt.py
  tests/standard_text/standard_text_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

Update timeseries.py
  cwms/timeseries/timeseries.py
Due: black, isort

added location/timeseries examples. update to timeseries and location calls
  cwms/catalog/catalog.py
  cwms/locations/physical_locations.py
  cwms/timeseries/timeseries.py
  cwms/types.py
  examples/cwms_Location_timeseries_examples.ipynb
  examples/cwms_bin_ts_examples.py
  examples/cwms_level_examples.py
  examples/cwms_ratings_examples.ipynb
  examples/cwms_text_ts_examples.py
  examples/cwms_timeseries_examples.ipynb
  examples/cwms_versioned_ts_examples.py
  pyproject.toml
Due: black, isort

update version
  pyproject.toml
Due: none

reorganized the examples folder
  examples/01_cwms_Location_timeseries_examples.ipynb
  examples/02_cwms_ratings_examples.ipynb
  examples/other/cwms_bin_ts_examples.py
  examples/other/cwms_level_examples.py
  examples/other/cwms_text_ts_examples.py
  examples/other/cwms_versioned_ts_examples.py
Due: black, isort

added timeseries identifiers, updated examples and added standard text json function
  README.md
  cwms/__init__.py
  cwms/standard_text/standard_text.py
  cwms/timeseries/timerseries_identifier.py
  cwms/timeseries/timeseries.py
  examples/01_cwms_timeseries_location_examples.ipynb
  examples/02_cwms_ratings_examples.ipynb
  pyproject.toml
  tests/standard_text/standard_text_test.py
  tests/timeseries/timeseries_test.py
Due: black, isort

create release v0.4.0
  pyproject.toml
Due: none

create new release
  pyproject.toml
Due: none

new release
  pyproject.toml
Due: none

Create pypideploy.yml
  .github/workflows/pypideploy.yml
Due: yamlfix

release 0.4.4
  pyproject.toml
Due: none

Update pypideploy.yml
  .github/workflows/pypideploy.yml
Due: yamlfix

Update and rename deployment.yml to test-deploy.yml
  .github/workflows/test-deploy.yml
Due: yamlfix

Rename pypideploy.yml to pypi-deploy.yml
  .github/workflows/pypi-deploy.yml
Due: yamlfix

Update README.md
  README.md
Due: none

Added Test and Script
  cwms/timeseries/critscript.py
  tests/resources/crit_json.json
  tests/timeseries/crti_test.py
Due: black, isort

Poetry test
  cwms/timeseries/critscript.py
  cwms/timeseries/timeseries.py
  tests/timeseries/crti_test.py
Due: black, isort

Necessary deletes + Comment markers
  cwms/timeseries/critscript.py
  cwms/timeseries/timeseries.py
  tests/timeseries/crti_test.py
Due: black, isort

Added category_id, comments, ready for JSON
  cwms/timeseries/timeseries.py
Due: black, isort

Created tests & added checks
  cwms/timeseries/timeseries.py
  tests/resources/crit_json.json
  tests/timeseries/crti_test.py
  tests/timeseries/timeseries_test.py
Due: black, isort

Fix
  cwms/timeseries/critscript.py
  cwms/timeseries/timeseries.py
  tests/timeseries/timeseries_test.py
Due: black, isort

changes to examples for data workshop
  examples/01_cwms_timeseries_location_examples.ipynb
  examples/02_cwms_ratings_examples.ipynb
  examples/03_cwms_pandas_data_analysis.ipynb
Due: none

changes for data workshop
  examples/03_cwms_pandas_data_analysis.ipynb
Due: none

Shift to testing
  cwms/timeseries/critscript.py
  cwms/timeseries/timeseries.py
  tests/timeseries/timeseries_test.py
Due: black, isort

update init for airflow
  cwms/__init__.py
  cwms/levels/location_levels.py
  cwms/timeseries/timeseries.py
Due: black, isort

update test version
  pyproject.toml
Due: none

updating type to cwms_types for airflow deployment
  cwms/api.py
  cwms/catalog/catalog.py
  cwms/cwms_types.py
  cwms/forecast/forecast_instance.py
  cwms/forecast/forecast_spec.py
  cwms/levels/location_levels.py
  cwms/levels/specified_levels.py
  cwms/locations/physical_locations.py
  cwms/ratings/ratings.py
  cwms/ratings/ratings_spec.py
  cwms/ratings/ratings_template.py
  cwms/standard_text/standard_text.py
  cwms/timeseries/timerseries_identifier.py
  cwms/timeseries/timeseries.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  tests/forecast/forecast_spec_test.py
  tests/standard_text/standard_text_test.py
  tests/types_data_test.py
Due: black, isort

update type
  cwms/cwms_types.py
Due: black, isort

Added timeseries profile support with associated tests
  cwms/__init__.py
  cwms/timeseries/timeseries_profile.py
  cwms/timeseries/timeseries_profile_instance.py
  cwms/timeseries/timeseries_profile_parser.py
  tests/resources/timeseries_profile.json
  tests/resources/timeseries_profile_data.txt
  tests/resources/timeseries_profile_indexed.json
  tests/resources/timeseries_profile_instance.json
  tests/resources/timeseries_profile_instances.json
  tests/resources/timeseries_profiles.json
  tests/resources/timeseries_profiles_indexed.json
  tests/timeseries/timeseries_profile_instance_test.py
  tests/timeseries/timeseries_profile_parser_test.py
  tests/timeseries/timeseries_profile_test.py
Due: black, isort

Added gate changes support with associated tests
  cwms/locations/gate_changes.py
  tests/locations/gate_changes_test.py
  tests/resources/gate_change.json
Due: black, isort

add outlet management support to cwms-python
  cwms/__init__.py
  cwms/outlets/outlets.py
  cwms/outlets/virtual_outlets.py
  tests/outlets/outlets_test.py
  tests/outlets/virtual_outlets_test.py
  tests/resources/outlet.json
  tests/resources/outlets.json
  tests/resources/virtual_outlet.json
  tests/resources/virtual_outlets.json
Due: black, isort

update to cwms_types rename
  cwms/__init__.py
  cwms/outlets/outlets.py
  cwms/outlets/virtual_outlets.py
  tests/outlets/outlets_test.py
  tests/outlets/virtual_outlets_test.py
Due: black, isort

add project lock and lock rights handling
  cwms/projects/project_lock_rights.py
  cwms/projects/project_locks.py
  cwms/projects/projects.py
  tests/projects/project_lock_rights_test.py
  tests/projects/project_locks_test.py
  tests/projects/projects_test.py
  tests/resources/project_lock.json
  tests/resources/project_lock_rights.json
  tests/resources/project_locks.json
Due: black, isort

add reservoir project management support to cwms-python
  cwms/__init__.py
  cwms/projects/projects.py
  tests/projects/projects_test.py
  tests/resources/project.json
  tests/resources/projects.json
Due: black, isort
