Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [file, python]

      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [file, python]

      - id: yamlfix
        name: yamlfix
        entry: poetry run yamlfix
        language: system
        types: [file, yaml]

Updates to tests per error log analysis
  tests/cda/locks/locks_test.py
  tests/cda/projects/water_supply/pump_accounting_test.py
  tests/cda/projects/water_supply/water_contract_test.py
  tests/cda/projects/water_supply/water_user_test.py
Due: black, isort

Initial integration tests for gate changes
  tests/cda/locations/gate-changes_test.py
Due: black, isort

Fixed booleans
  tests/cda/locations/gate-changes_test.py
Due: black, isort

Added missing office
  tests/cda/locations/gate-changes_test.py
Due: black, isort

Fixed versioning bug. Fixed cleanup failure
  cwms/locations/gate_changes.py
  cwms/outlets/outlets.py
  tests/cda/locations/gate-changes_test.py
Due: black, isort

Fixed api versioning for projects endpoints. Updated tests for gate changes
  cwms/projects/projects.py
  tests/cda/locations/gate-changes_test.py
Due: black, isort

Updated gate change test
  cwms/locations/lookups.py
  tests/cda/locations/gate-changes_test.py
Due: black, isort

Added missing variables
  tests/cda/projects/water_supply/water_contract_test.py
Due: black, isort

Updated tests to use lookups
  tests/cda/locations/gate-changes_test.py
Due: black, isort

Test bug fixes and cleanup. Fixed contract endpoint paths.
  cwms/projects/water_supply/water_contracts.py
  cwms/projects/water_supply/water_users.py
  tests/cda/locks/locks_test.py
  tests/cda/projects/water_supply/pump_accounting_test.py
  tests/cda/projects/water_supply/water_contract_test.py
  tests/cda/projects/water_supply/water_user_test.py
Due: black, isort

Resolved failing tests for locks and water contracts.
  tests/cda/locks/locks_test.py
  tests/cda/projects/water_supply/pump_accounting_test.py
  tests/cda/projects/water_supply/water_contract_test.py
Due: black, isort

Fixed lookup test and deletion endpoint. Updated gate changes test.
  cwms/locations/lookups.py
  tests/cda/locations/gate-changes_test.py
  tests/cda/locations/lookup_test.py
Due: black, isort

Resolved lookup and water contract test failures. Pump accounting in progress
  cwms/locations/lookups.py
  tests/cda/locations/lookup_test.py
  tests/cda/projects/water_supply/pump_accounting_test.py
  tests/cda/projects/water_supply/water_contract_test.py
Due: black, isort

Reorder data setup to create project before water user
  tests/cda/projects/water_supply/pump_accounting_test.py
Due: black, isort

Added row limit to resolve pump accounting retrieval error.
  tests/cda/projects/water_supply/pump_accounting_test.py
Due: black, isort

Added lookup creation and deletion
  tests/cda/projects/water_supply/pump_accounting_test.py
Due: black, isort

Expanded assertions
  tests/cda/locks/locks_test.py
  tests/cda/projects/water_supply/pump_accounting_test.py
  tests/cda/projects/water_supply/water_contract_test.py
  tests/cda/projects/water_supply/water_user_test.py
Due: black, isort

Resolved failing tests
  cwms/locations/gate_changes.py
  tests/cda/locations/gate-changes_test.py
Due: black, isort

Change date format to be compatible with Python 3.9
  tests/cda/locations/gate-changes_test.py
Due: black, isort

Stabilize CI runtime dependencies (#298)
  .github/workflows/CDA-testing.yml
  .github/workflows/testing.yml
  CONTRIBUTING.md
  docker-compose.yml
  tests/cda/timeseries/timeseries_groups_test.py
Due: black, isort, yamlfix

build: remove legacy release automation and guidance
  .github/workflows/pypi-deploy.yml
  .github/workflows/test-deploy.yml
  CONTRIBUTING.md
Due: yamlfix

build: configure Release Please Python version management
  .release-please-manifest.json
  pyproject.toml
  release-please-config.json
Due: none

ci: remind contributors about release-aware PR titles
  .github/workflows/pr-title-release-hint.yml
Due: yamlfix

ci: release and publish packages through Release Please
  .github/workflows/pypi-deploy.yml
Due: yamlfix

docs: explain contributions and Release Please publishing
  CONTRIBUTING.md
  README.md
Due: none

ci: pin release actions and require dependency wheels
  .github/workflows/pypi-deploy.yml
Due: yamlfix

fix: initialize time series before concurrent chunk writes
  cwms/timeseries/timeseries.py
  tests/mock/timeseries/test_concurrent_store.py
Due: black, isort

fix: initialize time series before concurrent chunk writes (#310)
  cwms/timeseries/timeseries.py
  tests/mock/timeseries/test_concurrent_store.py
Due: black, isort

chore: bump patch version to 1.0.9
  pyproject.toml
Due: none

fix: surface endpoint and concurrent operation errors
  README.md
  cwms/api.py
  cwms/ratings/ratings.py
  cwms/ratings/ratings_spec.py
  cwms/timeseries/timeseries.py
  cwms/users/users.py
  tests/mock/api_error_test.py
  tests/mock/error_handling_test.py
  tests/mock/timeseries/timeseries_test.py
Due: black, isort

test: expect preserved CDA details in user permission errors
  tests/cda/users/users_CDA_test.py
Due: black, isort

Add USE_NEW_LRTS_IDS module variable, getter, and setter to api. (#297)
  cwms/api.py
  pyproject.toml
Due: black, isort

ci: test Python 3.9 alongside Python 3.13
  .github/workflows/testing.yml
Due: yamlfix

fix: support pandas on Python 3.14 while retaining Python 3.9
  .github/workflows/testing.yml
  poetry.lock
  pyproject.toml
Due: yamlfix

fix: support Python 3.14 dependencies while retaining Python 3.9 (#313)
  .github/workflows/testing.yml
  poetry.lock
  pyproject.toml
Due: yamlfix

build: migrate releases to Release Please (#309)
  .github/workflows/pr-title-release-hint.yml
  .github/workflows/pypi-deploy.yml
  .github/workflows/test-deploy.yml
  .github/workflows/testing.yml
  .release-please-manifest.json
  CONTRIBUTING.md
  README.md
  poetry.lock
  pyproject.toml
  release-please-config.json
Due: yamlfix

fix: address error-handling quality findings
  cwms/api.py
  cwms/timeseries/timeseries.py
  tests/cda/users/users_CDA_test.py
  tests/mock/api_test.py
  tests/mock/error_handling_test.py
Due: black, isort

ci: streamline PR checks and schedule full CDA coverage
  .github/actions/setup-python/action.yml
  .github/scripts/ci_policy.py
  .github/scripts/test_ci_policy.py
  .github/workflows/CDA-testing.yml
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/pypi-deploy.yml
  .github/workflows/testing.yml
  .gitignore
  CONTRIBUTING.md
Due: black, isort, yamlfix

docs: remind reviewers to run CDA tests before approval
  CONTRIBUTING.md
Due: none

ci: avoid duplicate PR checks and run full CDA tests nightly (#315)
  .github/workflows/CDA-testing.yml
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/pypi-deploy.yml
  .github/workflows/testing.yml
  CONTRIBUTING.md
Due: yamlfix
