Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [file, python]

      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [file, python]

      - id: yamlfix
        name: yamlfix
        entry: poetry run yamlfix
        language: system
        types: [file, yaml]

ci: fix main SonarCloud reliability and workflow findings
  .github/workflows/CDA-testing.yml
  .github/workflows/code-check.yml
  .github/workflows/pypi-deploy.yml
  .github/workflows/testing.yml
  compose_files/sql/users.sql
  tests/cda/levels/location_levels_cda_test.py
  tests/cda/levels/specified_levels_cda_test.py
Due: black, isort, yamlfix

build: refresh vulnerable dependencies compatible with Python 3.9
  poetry.lock
Due: none

test: verify dated level deletion with effective-date fallback
  tests/cda/levels/location_levels_cda_test.py
Due: black, isort

fix: REGI-501: Gate Changes (#307)
  cwms/locations/gate_changes.py
  cwms/locations/lookups.py
  cwms/outlets/outlets.py
  cwms/projects/projects.py
  tests/cda/locations/gate-changes_test.py
  tests/cda/locations/lookup_test.py
Due: black, isort

fix: align endpoint data formats with production Swagger
  cwms/api.py
  cwms/catalog/blobs.py
  cwms/catalog/clobs.py
  cwms/levels/location_levels.py
  cwms/locations/physical_locations.py
  cwms/outlets/outlets.py
  cwms/outlets/virtual_outlets.py
  cwms/projects/project_lock_rights.py
  cwms/projects/project_locks.py
  cwms/projects/water_supply/accounting.py
  cwms/timeseries/timeseries_profile.py
  cwms/timeseries/timeseries_profile_instance.py
  cwms/timeseries/timeseries_profile_parser.py
  cwms/users/users.py
  docs/endpoint-media-types.md
  tests/mock/endpoint_media_types_test.py
Due: black, isort

Remove endpoint media type audit recap
  docs/endpoint-media-types.md
Due: none

Isolate endpoint invocation in exception assertion
  tests/mock/endpoint_media_types_test.py
Due: black, isort

build: use patched dependencies on Python 3.10 and newer
  .github/workflows/testing.yml
  poetry.lock
  pyproject.toml
Due: yamlfix

build: refresh vulnerable dependencies while retaining Python 3.9 (#317)
  .github/workflows/testing.yml
  poetry.lock
  pyproject.toml
Due: yamlfix

Code cleanup to reduce duplication
  tests/cda/locks/locks_test.py
  tests/cda/projects/water_supply/pump_accounting_test.py
  tests/cda/projects/water_supply/water_contract_test.py
  tests/cda/projects/water_supply/water_user_test.py
Due: black, isort

test: isolate location catalog integration assertions
  tests/cda/locations/location_operations_test.py
Due: black, isort

ci: only remind on missing PR title prefixes
  .github/workflows/pr-title-release-hint.yml
  CONTRIBUTING.md
Due: yamlfix

docs: clarify required version bump markers
  .github/workflows/pr-title-release-hint.yml
  CONTRIBUTING.md
Due: yamlfix

update to allow pandas 3.X versions with python 3.10+
  .github/workflows/CDA-testing.yml
  .github/workflows/testing.yml
  .gitignore
  cwms/cwms_types.py
  cwms/timeseries/timeseries.py
  cwms/timeseries/timeseries_group.py
  pyproject.toml
  tests/cda/locations/location_operations_test.py
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort, yamlfix

fix tests
  .github/workflows/CDA-testing.yml
  .github/workflows/testing.yml
  README.md
  cwms/timeseries/timeseries.py
  pyproject.toml
Due: black, isort, yamlfix

update lock
  poetry.lock
Due: none

fix actions
  .github/workflows/CDA-testing.yml
  .github/workflows/testing.yml
Due: yamlfix

update CDA testing back to 3.9 and 3.X
  .github/workflows/CDA-testing.yml
Due: yamlfix

ci: restore production CDA integration checks on PRs
  .github/workflows/CDA-testing.yml
  CONTRIBUTING.md
Due: yamlfix

ci: only remind on missing PR title prefixes (#321)
  .github/workflows/pr-title-release-hint.yml
  CONTRIBUTING.md
Due: yamlfix

specify pandas version to test
  .github/workflows/CDA-testing.yml
  .github/workflows/testing.yml
Due: yamlfix

fix pandas
  .github/workflows/CDA-testing.yml
Due: yamlfix

ci: restore production CDA integration checks on PRs (#323)
  .github/workflows/CDA-testing.yml
  CONTRIBUTING.md
  tests/cda/locations/location_operations_test.py
Due: black, isort, yamlfix

Moved test data to JSON files
  tests/cda/locks/locks_test.py
  tests/cda/projects/water_supply/pump_accounting_test.py
  tests/cda/projects/water_supply/water_contract_test.py
  tests/cda/projects/water_supply/water_user_test.py
  tests/resources/contract_lookup.json
  tests/resources/project_location.json
  tests/resources/water_contract.json
  tests/resources/water_project.json
  tests/resources/water_user.json
Due: black, isort

Resolve broken tests
  tests/cda/locks/locks_test.py
  tests/cda/projects/water_supply/pump_accounting_test.py
  tests/cda/projects/water_supply/water_contract_test.py
  tests/cda/projects/water_supply/water_user_test.py
  tests/resources/contract_lookup.json
Due: black, isort

removed invalid copy call in lock update test
  tests/cda/locks/locks_test.py
Due: black, isort

Resolved mismatched location name in lock update test
  tests/cda/locks/locks_test.py
Due: black, isort

feat: REGI-499: Project Sublocation Endpoints (#306)
  cwms/__init__.py
  cwms/locations/lookups.py
  cwms/locks/locks.py
  cwms/projects/water_supply/water_contracts.py
  cwms/projects/water_supply/water_users.py
  tests/cda/locations/lookup_test.py
  tests/cda/locks/locks_test.py
  tests/cda/projects/water_supply/pump_accounting_test.py
  tests/cda/projects/water_supply/water_contract_test.py
  tests/cda/projects/water_supply/water_user_test.py
  tests/resources/contract_lookup.json
  tests/resources/project_location.json
  tests/resources/water_contract.json
  tests/resources/water_project.json
  tests/resources/water_user.json
Due: black, isort

update for finest interval of 2 min
  cwms/timeseries/timeseries.py
  tests/mock/timeseries/timeseries_test.py
Due: black, isort

bump default chunk to 365
  cwms/timeseries/timeseries.py
  tests/mock/timeseries/timeseries_test.py
Due: black, isort

correct docs
  cwms/timeseries/timeseries.py
Due: black, isort

make dynamic chunking
  cwms/timeseries/timeseries.py
  tests/mock/timeseries/timeseries_test.py
Due: black, isort

fix: configure HTTP pools and clarify failed CDA writes
  README.md
  cwms/api.py
  tests/mock/api_error_test.py
  tests/mock/api_test.py
Due: black, isort

fix: configure HTTP connection pools and surface CDA batch errors (#312)
  README.md
  cwms/api.py
  cwms/ratings/ratings.py
  cwms/ratings/ratings_spec.py
  cwms/timeseries/timeseries.py
  cwms/users/users.py
  tests/cda/users/users_CDA_test.py
  tests/mock/api_error_test.py
  tests/mock/api_test.py
  tests/mock/error_handling_test.py
  tests/mock/timeseries/timeseries_test.py
Due: black, isort

Update API environment variable names in notebook
  examples/04_cwms_timeseries_screening.ipynb
Due: none

fix: update to allow pandas 3.X versions with python 3.10+ (#322)
  .github/workflows/CDA-testing.yml
  .github/workflows/testing.yml
  .gitignore
  README.md
  cwms/cwms_types.py
  cwms/timeseries/timeseries.py
  cwms/timeseries/timeseries_group.py
  poetry.lock
  pyproject.toml
  tests/cda/locations/location_operations_test.py
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort, yamlfix
