Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [file, python]

      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [file, python]

      - id: yamlfix
        name: yamlfix
        entry: poetry run yamlfix
        language: system
        types: [file, yaml]

update page_size default
  cwms/timeseries/timeseries.py
Due: black, isort

Add initial accounting endpoints POST/GET
  cwms/projects/water_supply/accounting.py
Due: black, isort

No fail if exists param
  cwms/projects/water_supply/accounting.py
Due: black, isort

measurement store data type check
  cwms/measurements/measurements.py
Due: black, isort

reorder measurements columns in df
  cwms/cwms_types.py
Due: black, isort

apply black formatting
  cwms/cwms_types.py
  cwms/measurements/measurements.py
Due: black, isort

add type definition
  cwms/cwms_types.py
Due: black, isort

add get_measurements_extents
  cwms/measurements/measurements.py
Due: black, isort

fix extent return def
  cwms/measurements/measurements.py
Due: black, isort

fix bug in params
  cwms/measurements/measurements.py
Due: black, isort

add measurement example
  examples/05_cwms_measurements_examples.ipynb
Due: none

add multi timeseries store
  cwms/timeseries/timeseries.py
  pyproject.toml
Due: black, isort

fix to save mutitimeseries call
  cwms/cwms_types.py
  cwms/timeseries/timeseries.py
  pyproject.toml
Due: black, isort

Add cwms import
  cwms/__init__.py
Due: black, isort

Remove unused imports
  cwms/projects/water_supply/accounting.py
Due: black, isort

Create pump accounting tests
  tests/projects/water_supply/accounting_test.py
Due: black, isort

fix to save mutitimeseries call
  cwms/cwms_types.py
  cwms/timeseries/timeseries.py
Due: black, isort

Bump to 0.7.3
  pyproject.toml
Due: none

Create CDA-testing.yml
  .github/workflows/CDA-testing.yml
Due: yamlfix

Update CDA-testing.yml
  .github/workflows/CDA-testing.yml
Due: yamlfix

test run backend
  .github/workflows/CDA-testing.yml
  compose_files/keycloak/realm.json
  compose_files/keycloak/server.keystore
  compose_files/sql/users.sql
  compose_files/tomcat/logging.properties
  docker-compose.yml
Due: yamlfix

Update docker-compose.yml
  docker-compose.yml
Due: yamlfix

add a test to back end
  compose_files/sql/users.sql
  tests/locations/location_operations_test.py
Due: black, isort

fix location operations test
  tests/locations/location_operations_test.py
Due: black, isort

Add Water Supply Pump Accounting Endpoints (#154)
  cwms/__init__.py
  cwms/projects/water_supply/accounting.py
  pyproject.toml
  tests/projects/water_supply/accounting_test.py
Due: black, isort

update to cda testing squite
  CONTRIBUTING.md
  compose_files/sql/users.sql
  cwms/api.py
  docker-compose.yml
  tests/cda/__init__.py
  tests/cda/conftest.py
  tests/cda/locations/location_operations_test.py
  tests/locations/location_operations_test.py
  tests/mock/__init__.py
  tests/mock/api_error_test.py
  tests/mock/api_test.py
  tests/mock/forecast/forecast_instance_test.py
  tests/mock/forecast/forecast_spec_test.py
  tests/mock/levels/location_levels_test.py
  tests/mock/levels/specified_levels_test.py
  tests/mock/locations/gate_changes_test.py
  tests/mock/locations/physical_locations_test.py
  tests/mock/outlets/outlets_test.py
  tests/mock/outlets/virtual_outlets_test.py
  tests/mock/projects/project_lock_rights_test.py
  tests/mock/projects/project_locks_test.py
  tests/mock/projects/projects_test.py
  tests/mock/ratings/rating_spec_test.py
  tests/mock/ratings/rating_template_test.py
  tests/mock/ratings/ratings_test.py
  tests/mock/standard_text/standard_text_test.py
  tests/mock/timeseries/timeseries_bin_test.py
  tests/mock/timeseries/timeseries_profile_instance_test.py
  tests/mock/timeseries/timeseries_profile_parser_test.py
  tests/mock/timeseries/timeseries_profile_test.py
  tests/mock/timeseries/timeseries_test.py
  tests/mock/timeseries/timeseries_txt_test.py
  tests/mock/turbines/turbines_test.py
  tests/mock/types_data_test.py
Due: black, isort, yamlfix

style and testing fixes
  .github/workflows/CDA-testing.yml
  .github/workflows/testing.yml
  cwms/api.py
  tests/cda/conftest.py
  tests/cda/locations/location_operations_test.py
Due: black, isort, yamlfix

isort fix
  docker-compose.yml
  tests/cda/conftest.py
  tests/cda/locations/location_operations_test.py
Due: black, isort, yamlfix

edit comment
  cwms/cwms_types.py
  cwms/measurements/measurements.py
  examples/05_cwms_measurements_examples.ipynb
Due: black, isort

black format
  cwms/cwms_types.py
Due: black, isort

bump version
  pyproject.toml
Due: none

run cda/mock test
  .github/workflows/CDA-testing.yml
  .github/workflows/pypi-deploy.yml
  .github/workflows/test-deploy.yml
Due: yamlfix

update release 0.8.0
  pyproject.toml
Due: none

new fix
  tests/cda/locations/physical_locations_test.py
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

Update timeseries_CDA_test.py
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

Update physical_locations_CDA_test.py
  tests/cda/locations/physical_locations_CDA_test.py
Due: black, isort
