Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

yamlfix:
  name: yamlfix
  entry: poetry run yamlfix
  language: system

Reduce complexity again
  cwms/ratings/ratings.py
Due: black, isort

Add missing CDA Args
  cwms/utils/cli/dss2cwms/utils/args.py
Due: black, isort

Pass in args to dss2cwms
  cwms/utils/cli/dss2cwms/__init__.py
  cwms/utils/cli/dss2cwms/dss2cwms.py
Due: black, isort

Update timeseries_CDA_test.py
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

Mod rating_spec_df_to_xml for optional values
  cwms/ratings/ratings_spec.py
Due: black, isort

Change f-string to static string
  cwms/ratings/ratings_spec.py
Due: black, isort

reformat
  cwms/ratings/ratings_spec.py
Due: black, isort

Add code to perform value ratings (#177)
  cwms/api.py
  cwms/ratings/ratings.py
  cwms/ratings/ratings_spec.py
  pyproject.toml
Due: black, isort

Add config.yml for other library references
  .github/ISSUE_TEMPLATE/config.yml
Due: yamlfix

Add bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: yamlfix

Add feature request
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: yamlfix

Create ratings_test.py
  tests/cda/ratings/ratings_test.py
Due: black, isort

190 add issues templates (#191)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: yamlfix

Added JSONs and setup the file
  tests/cda/ratings/ratings_test.py
  tests/cda/resources/location.json
  tests/cda/resources/rating_spec.json
  tests/cda/resources/rating_table.json
  tests/cda/resources/rating_template.json
  tests/cda/resources/spec.json
  tests/cda/resources/table.json
  tests/cda/resources/table_updated.json
  tests/cda/resources/template.json
Due: black, isort

Update ratings_CDA_test.py
  tests/cda/ratings/ratings_CDA_test.py
Due: black, isort

Update location.json
  tests/cda/resources/location.json
Due: none

fix
  tests/cda/ratings/ratings_CDA_test.py
  tests/cda/resources/rating_template.json
  tests/cda/resources/template.json
Due: black, isort

fix
  tests/cda/ratings/ratings_CDA_test.py
  tests/cda/resources/spec.json
  tests/cda/resources/table.json
  tests/cda/resources/table_updated.json
Due: black, isort

add get_ts_extents
  cwms/catalog/catalog.py
Due: black, isort

add multithread to get_timeseries
  cwms/timeseries/timeseries.py
Due: black, isort

added changes
  tests/cda/ratings/ratings_CDA_test.py
  tests/cda/resources/location.json
Due: black, isort

fix typing
  cwms/catalog/catalog.py
Due: black, isort

add multi to ts post
  cwms/timeseries/timeseries.py
Due: black, isort

clean up print statements
  cwms/timeseries/timeseries.py
Due: black, isort

fix import sort
  cwms/catalog/catalog.py
  cwms/timeseries/timeseries.py
Due: black, isort

update
  tests/cda/ratings/ratings_CDA_test.py
  tests/cda/resources/rating_spec.json
  tests/cda/resources/spec.json
Due: black, isort

update
  tests/cda/resources/location.json
  tests/cda/resources/spec.json
  tests/cda/resources/template.json
Due: none

Create location_levels_test.py
  tests/cda/levels/location_levels_test.py
Due: black, isort

Switching to XML
  tests/cda/ratings/ratings_CDA_test.py
  tests/cda/resources/spec.json
  tests/cda/resources/spec.xml
  tests/cda/resources/template.json
  tests/cda/resources/template.xml
Due: black, isort

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  yamlfix: any of: \.(yaml|yml)$
