Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [file, python]

      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [file, python]

      - id: yamlfix
        name: yamlfix
        entry: poetry run yamlfix
        language: system
        types: [file, yaml]

fix typo in test
  tests/projects/project_locks_test.py
Due: black, isort

update to new `cwms_types` module rename
  cwms/projects/project_lock_rights.py
  cwms/projects/project_locks.py
  cwms/projects/projects.py
  tests/projects/projects_test.py
Due: black, isort

fix import sorting
  cwms/__init__.py
Due: black, isort

add reservoir project management support to cwms-python (#67)
  cwms/__init__.py
  cwms/projects/project_lock_rights.py
  cwms/projects/project_locks.py
  cwms/projects/projects.py
  tests/projects/project_lock_rights_test.py
  tests/projects/project_locks_test.py
  tests/projects/projects_test.py
  tests/resources/project.json
  tests/resources/project_locations.json
  tests/resources/project_lock.json
  tests/resources/project_lock_rights.json
  tests/resources/project_locks.json
  tests/resources/projects.json
Due: black, isort

Added gate changes to init file
  cwms/__init__.py
Due: black, isort

added fix to null timeseries, add paging to timeseries, multiple time series call
  cwms/api.py
  cwms/cwms_types.py
  cwms/timeseries/timeseries.py
  tests/resources/empty_num_ts.json
  tests/resources/paging_num_ts_allpages.json
  tests/resources/paging_num_ts_page1.json
  tests/resources/paging_num_ts_page2.json
  tests/resources/paging_num_ts_page3.json
  tests/timeseries/timeseries_test.py
Due: black, isort

inclu
  cwms/api.py
  cwms/timeseries/timeseries.py
  examples/01_cwms_timeseries_location_examples.ipynb
  examples/03_cwms_pandas_data_analysis.ipynb
Due: black, isort

added example to convert location df to json
  examples/01_cwms_timeseries_location_examples.ipynb
Due: none

updating for mypy
  cwms/api.py
  cwms/timeseries/timeseries.py
Due: black, isort

update order
  cwms/timeseries/timeseries.py
Due: black, isort

create test for multi timeseries call
  cwms/timeseries/timeseries.py
  tests/timeseries/timeseries_test.py
Due: black, isort

fix to get locations call with duplicates and df call
  cwms/locations/physical_locations.py
  examples/01_cwms_timeseries_location_examples.ipynb
  pyproject.toml
Due: black, isort

reduce complexidy
  cwms/cwms_types.py
Due: black, isort

update example
  examples/01_cwms_timeseries_location_examples.ipynb
Due: none

new release 0.5.0
  pyproject.toml
Due: none

update df to json function to not edit passed in dataframe
  cwms/timeseries/timeseries.py
  tests/timeseries/timeseries_test.py
Due: black, isort

remove numpy dependency
  poetry.lock
  pyproject.toml
Due: none

update lock file
  poetry.lock
Due: none

timeseries screening example
  examples/03_cwms_timeseries_screening.ipynb
Due: none

changed file name
  examples/03_cwms_timeseries_screening.ipynb
  examples/04_cwms_timeseries_screening.ipynb
Due: none

Updated parameter default value, updated documentation
  cwms/locations/gate_changes.py
Due: black, isort

Updated documentation
  cwms/locations/gate_changes.py
Due: black, isort

Added gate changes support with associated tests (#92)
  cwms/__init__.py
  cwms/locations/gate_changes.py
  tests/locations/gate_changes_test.py
  tests/resources/gate_change.json
Due: black, isort

updates for rating script
  cwms/api.py
  cwms/cwms_types.py
  cwms/ratings/ratings.py
  cwms/timeseries/timeseries.py
Due: black, isort

update tests
  tests/timeseries/timeseries_test.py
Due: black, isort

update test version
  pyproject.toml
Due: none

formating
  .github/workflows/pypi-deploy.yml
  cwms/ratings/ratings.py
  cwms/timeseries/timeseries.py
Due: black, isort, yamlfix

solar cube fixes
  cwms/ratings/ratings.py
Due: black, isort

Updated api endpoint calls to match timeseries profile controller changes
  cwms/timeseries/timeseries_profile.py
  cwms/timeseries/timeseries_profile_instance.py
  cwms/timeseries/timeseries_profile_parser.py
  tests/timeseries/timeseries_profile_instance_test.py
  tests/timeseries/timeseries_profile_parser_test.py
  tests/timeseries/timeseries_profile_test.py
Due: black, isort

Removed timezone parameter from ts profile instance getOne
  cwms/timeseries/timeseries_profile_instance.py
  tests/timeseries/timeseries_profile_instance_test.py
Due: black, isort

Removed timezone parameter from ts profile instance delete
  cwms/timeseries/timeseries_profile_instance.py
  tests/timeseries/timeseries_profile_instance_test.py
Due: black, isort

Adding Critscript and Timeseries functions
  cwms/__init__.py
  cwms/timeseries/critscript.py
  cwms/timeseries/timeseries.py
Due: black, isort

Updated to fix some poetry test.
  cwms/timeseries/critscript.py
  cwms/timeseries/timeseries.py
Due: black, isort

Passes poetry. Need to test
  cwms/timeseries/timeseries.py
Due: black, isort

Updated README and pydocs for TimeSeries Profiles with CDA compatability warning
  README.md
  cwms/timeseries/timeseries_profile.py
  cwms/timeseries/timeseries_profile_instance.py
  cwms/timeseries/timeseries_profile_parser.py
Due: black, isort

Removed date reference for compatibility warning
  README.md
  cwms/timeseries/timeseries_profile.py
  cwms/timeseries/timeseries_profile_instance.py
  cwms/timeseries/timeseries_profile_parser.py
Due: black, isort

Added time series profile support with associated tests (#93)
  README.md
  cwms/__init__.py
  cwms/timeseries/timeseries_profile.py
  cwms/timeseries/timeseries_profile_instance.py
  cwms/timeseries/timeseries_profile_parser.py
  tests/resources/timeseries_profile.json
  tests/resources/timeseries_profile_data.txt
  tests/resources/timeseries_profile_indexed.json
  tests/resources/timeseries_profile_instance.json
  tests/resources/timeseries_profile_instances.json
  tests/resources/timeseries_profiles.json
  tests/resources/timeseries_profiles_indexed.json
  tests/timeseries/timeseries_profile_instance_test.py
  tests/timeseries/timeseries_profile_parser_test.py
  tests/timeseries/timeseries_profile_test.py
Due: black, isort

Added test_timeseries_group_df_to_json_valid_data()
  cwms/timeseries/critscript.py
  cwms/timeseries/timeseries.py
  tests/timeseries/timeseries_test.py
Due: black, isort

updates to get crit script to work and reorganization
  cwms/__init__.py
  cwms/datafile_imports/shef_critfile_import.py
  cwms/timeseries/timeseries.py
  tests/timeseries/timeseries_test.py
Due: black, isort
