Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [file, python]

      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [file, python]

      - id: yamllint
        name: yamllint
        entry: poetry run yamllint
        language: system
        types: [file, yaml]

Add code-check CI workflow
  .github/workflows/code-check.yml
Due: yamllint

Create separate workflows for testing and development
  .github/workflows/deployment.yml
  .github/workflows/testing.yml
Due: yamllint

Auto-format example code
  examples/cwms_bin_ts_examples.py
  examples/cwms_level_examples.py
  examples/cwms_text_ts_examples.py
  examples/cwms_versioned_ts_examples.py
Due: black, isort

Cache python virtual environment
  .github/workflows/deployment.yml
  .github/workflows/testing.yml
  poetry.toml
Due: yamllint

Enable manual trigger for deployment workflow
  .github/workflows/deployment.yml
Due: yamllint

Replace yamllint with yamlfix in pre-commit hook
  .pre-commit-config.yaml
  .yamllint.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: yamllint

Auto-format YAML files
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/deployment.yml
  .github/workflows/testing.yml
  .prettierrc.json
Due: yamllint

updated name to cwms-python
  pyproject.toml
Due: none

add packages cwms
  pyproject.toml
Due: none

updates to python text/bin ts client from CDA changes
  cwms/_constants.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  examples/cwms_bin_ts_examples.py
  examples/cwms_text_ts_examples.py
  tests/timeseries/timeseries_bin_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

Add API session and REST functions
  cwms/api.py
  cwms/types.py
  tests/api_error_test.py
  tests/api_test.py
Due: black, isort

Use api REST functions in locations and timeseries modules
  cwms/locations/physical_locations.py
  cwms/timeseries/timeseries.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  tests/timeseries/timeseries_bin_test.py
  tests/timeseries/timeseries_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

Rename locations and timeseries functions
  cwms/locations/physical_locations.py
  cwms/timeseries/timeseries.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  tests/timeseries/timeseries_bin_test.py
  tests/timeseries/timeseries_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

Add locations tests
  tests/locations/physical_locations_test.py
Due: black, isort

add forecast client API for python
  cwms/forecast/forecast_instance.py
  cwms/forecast/forecast_spec.py
  cwms/levels/location_levels.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  tests/forecast/forecast_instance_test.py
  tests/forecast/forecast_spec_test.py
  tests/resources/forecast_instance.json
  tests/resources/forecast_instances.json
  tests/resources/forecast_spec.json
  tests/resources/forecast_specs.json
Due: black, isort

update to add constants for other query parameters
  cwms/_constants.py
  cwms/forecast/forecast_instance.py
  cwms/forecast/forecast_spec.py
Due: black, isort

Added large blob/clob download functions and unit tests
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  tests/timeseries/timeseries_bin_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

Add data wrapper for CWMS API data
  cwms/types.py
  tests/types_data_test.py
Due: black, isort

Wrap CWMS API response data
  cwms/locations/physical_locations.py
  cwms/timeseries/timeseries.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  tests/locations/physical_locations_test.py
  tests/timeseries/timeseries_bin_test.py
  tests/timeseries/timeseries_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

updates to work with getUSGS script
  cwms/__init__.py
  cwms/api.py
  cwms/timeseries/timeseries.py
Due: black, isort

fix test and formating
  cwms/__init__.py
  cwms/api.py
  cwms/core.py
  cwms/locations/physical_locations.py
  cwms/timeseries/timeseries.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  tests/api_error_test.py
  tests/api_test.py
  tests/exceptions_test.py
  tests/timeseries/timeseries_bin_test.py
  tests/timeseries/timeseries_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

update post patch to return none
  cwms/api.py
  cwms/timeseries/timeseries.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
Due: black, isort

formate update
  cwms/timeseries/timeseries.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
Due: black, isort

correct get_timeseries function
  cwms/timeseries/timeseries.py
Due: black, isort

format changes
  cwms/timeseries/timeseries.py
Due: black, isort

updates based on changes to CDA forecast api
  cwms/_constants.py
  cwms/forecast/forecast_instance.py
  cwms/forecast/forecast_spec.py
  cwms/timeseries/timeseries_txt.py
  tests/forecast/forecast_spec_test.py
Due: black, isort

update timeseries dataframe output
  cwms/types.py
Due: black, isort

fix multiple selectors
  cwms/types.py
Due: black, isort

format
  cwms/types.py
Due: black, isort

add conflicts to session branch
  cwms/_constants.py
  cwms/levels/location_levels.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  examples/cwms_bin_ts_examples.py
  examples/cwms_text_ts_examples.py
  tests/timeseries/timeseries_bin_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

test fix
  tests/timeseries/timeseries_bin_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

format
  cwms/levels/location_levels.py
  cwms/timeseries/timeseries_bin.py
  cwms/timeseries/timeseries_txt.py
  examples/cwms_bin_ts_examples.py
  examples/cwms_text_ts_examples.py
  tests/timeseries/timeseries_bin_test.py
  tests/timeseries/timeseries_txt_test.py
Due: black, isort

format
  cwms/timeseries/timeseries_bin.py
Due: black, isort

create function to convert timeseries dataframe to json
  CONTRIBUTING.md
  cwms/api.py
  cwms/timeseries/timeseries.py
  pyproject.toml
  setup.py
Due: black, isort

remove setup.py. not used in current deployment
  setup.py
Due: black, isort

update contributing.md for release information
  CONTRIBUTING.md
Due: none

fix errors/formating
  cwms/api.py
  cwms/timeseries/timeseries.py
  tests/api_test.py
Due: black, isort

format
  cwms/timeseries/timeseries.py
Due: black, isort

fix error
  cwms/api.py
Due: black, isort
