Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

yamlfix:
  name: yamlfix
  entry: poetry run yamlfix
  language: system

remove comment
  tests/cda/levels/location_levels_cda_test.py
Due: black, isort

add test for xcel files
  tests/cda/blobs/blob_CDA_test.py
Due: black, isort

add excel file
  tests/cda/resources/blob_test.xlsx
Due: none

update
  tests/cda/blobs/blob_CDA_test.py
Due: black, isort

Update Keycloak image version to 25.0.1
  docker-compose.yml
Due: yamlfix

Capture auth service logs in CI workflow
  .github/workflows/CDA-testing.yml
Due: yamlfix

Change Keycloak image version and log level
  docker-compose.yml
Due: yamlfix

Capture auth service logs only on failure
  .github/workflows/CDA-testing.yml
Due: yamlfix

Update CDA-testing.yml
  .github/workflows/CDA-testing.yml
Due: yamlfix

Add KC_HOSTNAME environment variable to Keycloak
  docker-compose.yml
Due: yamlfix

Refactor Keycloak command and healthcheck configuration
  docker-compose.yml
Due: yamlfix

Change Keycloak healthcheck port to 8082
  docker-compose.yml
Due: yamlfix

Refactor CI workflow for Docker caching and tests
  .github/workflows/CDA-testing.yml
Due: yamlfix

Update log capture command for auth service
  .github/workflows/CDA-testing.yml
Due: yamlfix

Refactor CDA testing workflow by removing log capture
  .github/workflows/CDA-testing.yml
Due: yamlfix

update caching
  .github/workflows/CDA-testing.yml
  docker-compose.yml
Due: yamlfix

add caching
  .github/workflow_utils/buildx_services.py
  .github/workflows/CDA-testing.yml
Due: black, isort, yamlfix

fix pytest error
  .github/workflows/CDA-testing.yml
Due: yamlfix

update caching
  .github/workflow_utils/buildx_services.py
  .github/workflows/CDA-testing.yml
Due: black, isort, yamlfix

store cache as zip
  .github/workflows/CDA-testing.yml
Due: yamlfix

caching fix
  .github/workflows/CDA-testing.yml
Due: yamlfix

fix storage issue
  .github/workflows/CDA-testing.yml
Due: yamlfix

move tmp to mnt
  .github/workflows/CDA-testing.yml
Due: yamlfix

final try
  .github/workflows/CDA-testing.yml
Due: yamlfix

move to mnt/docker-temp
  .github/workflows/CDA-testing.yml
Due: yamlfix

revert back to original
  .github/workflows/CDA-testing.yml
Due: yamlfix

Made required changes
  tests/cda/ratings/ratings_CDA_test.py
  tests/cda/resources/rating_spec.json
  tests/cda/resources/rating_table.json
  tests/cda/resources/rating_template.json
  tests/cda/resources/table.json
  tests/cda/resources/table_updated.json
Due: black, isort

Update ratings_CDA_test.py
  tests/cda/ratings/ratings_CDA_test.py
Due: black, isort

format
  tests/cda/ratings/ratings_CDA_test.py
Due: black, isort

Update pyproject.toml
  pyproject.toml
Due: none

Pass the ID in the query if it has invalid chars.
  cwms/catalog/blobs.py
  cwms/catalog/clobs.py
  cwms/utils/checks.py
Due: black, isort

Changes based on test findings.
  cwms/catalog/blobs.py
  cwms/catalog/clobs.py
  cwms/utils/checks.py
Due: black, isort

Update Traefik to fix docker daemon errors
  docker-compose.yml
Due: yamlfix

Add 401 and ensure status code and hint are always returned for errors
  cwms/api.py
Due: black, isort

Patch bump
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  yamlfix: any of: \.(yaml|yml)$
