Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [file, python]

      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [file, python]

      - id: yamlfix
        name: yamlfix
        entry: poetry run yamlfix
        language: system
        types: [file, yaml]

Forgot to install black precommit locally on this system
  cwms/api.py
Due: black, isort

Make 401 clear and give response text
  cwms/api.py
Due: black, isort

Correct for empty response/ 400s
  cwms/api.py
Due: black, isort

Handle excel response process
  cwms/api.py
Due: black, isort

Ensure correct mime_type is sent even if OS does not have it in guess_types
  tests/cda/blobs/blob_CDA_test.py
Due: black, isort

Add rm commands to cleanup base run env
  .github/workflows/CDA-testing.yml
Due: yamlfix

Add rm commands to cleanup base run env (#248)
  .github/workflows/CDA-testing.yml
Due: yamlfix

Add tests.
  tests/cda/blobs/blob_CDA_path_test.py
  tests/cda/clobs/clob_CDA_path_test.py
  tests/cda/clobs/clob_CDA_test.py
Due: black, isort

Fix for test failures.
  cwms/catalog/clobs.py
Due: black, isort

Adjusted CDA image to develop-nightly.
  docker-compose.yml
Due: yamlfix

Format change for sonarqube.
  cwms/catalog/blobs.py
  cwms/catalog/clobs.py
Due: black, isort

Fix typo.
  cwms/catalog/clobs.py
Due: black, isort

Update Traefik to fix docker daemon errors (#245)
  docker-compose.yml
Due: yamlfix

Fix for SonarQube findings.
  cwms/catalog/clobs.py
Due: black, isort

Correct issue for tests with static json response in hint in favor of getattr
  cwms/api.py
Due: black, isort

fix timeseries store multithread
  cwms/timeseries/timeseries.py
Due: black, isort

fix timeseries store multithread (#254)
  cwms/timeseries/timeseries.py
Due: black, isort

Http Error Hint Additions + Blob Test Fixes (#246)
  cwms/api.py
  pyproject.toml
  tests/cda/blobs/blob_CDA_test.py
Due: black, isort

Bump docker compose to match latest CDA @MikeNeilson
  docker-compose.yml
Due: yamlfix

Attempt to make Clob/Blob tests DRY
  tests/cda/blobs/blob_CDA_path_test.py
  tests/cda/blobs/blob_CDA_test.py
  tests/cda/blobs/test_blobs_binary.py
  tests/cda/catalog/catalog_resources.py
  tests/cda/catalog/lob_CDA_test.py
  tests/cda/clobs/clob_CDA_path_test.py
  tests/cda/clobs/clob_CDA_test.py
Due: black, isort

Set api version explicitly for outlets endpoint to 1
  cwms/outlets/outlets.py
Due: black, isort

Bump the patch version
  pyproject.toml
Due: none

fix multi timeseries get json command
  cwms/timeseries/timeseries.py
  pyproject.toml
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

update tests
  cwms/timeseries/timeseries.py
  tests/cda/locations/location_groups_test.py
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

fix black version
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/code-check.yml
Due: yamlfix

fix keycloak version
  docker-compose.yml
Due: yamlfix

fix auth keycloak
  docker-compose.yml
Due: yamlfix

Fix/save load json (#262)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/code-check.yml
  cwms/timeseries/timeseries.py
  docker-compose.yml
  pyproject.toml
  tests/cda/locations/location_groups_test.py
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort, yamlfix

Create users store/update user methods and expose them
  cwms/__init__.py
  cwms/users/users.py
Due: black, isort

Create mock and CDA tests
  tests/cda/users/users_CDA_test.py
  tests/mock/users/users_test.py
Due: black, isort

Create notebook example for users methods
  examples/07_cwms_users_examples.ipynb
Due: none

Remove user mock test
  tests/mock/users/users_test.py
Due: black, isort

Change from latest-dev to latest
  docker-compose.yml
Due: yamlfix

Add other methods to users and make it more clear what the .get method is doing
  cwms/users/users.py
Due: black, isort

Allow the tests to pull our API keys and have the defaults from the users.sql baked in
  tests/cda/conftest.py
Due: black, isort

- Update test to include other methods - q0hectest key works for normal data, but user-management endpoints require CWMS User Admins; l2hectest is a better default for these tests
  tests/cda/users/users_CDA_test.py
Due: black, isort

web perms container was not running because DB Healthcheck did not have a host/port
  docker-compose.yml
Due: yamlfix

Cleanup after the physical location test to ensure no 409 already exists test failures
  tests/cda/locations/physical_locations_CDA_test.py
Due: black, isort

Normalize docker-compose line endings
  docker-compose.yml
Due: yamlfix

Ensure files save as a specific end of line per the editor config
  .editorconfig
Due: none
