Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

yamlfix:
  name: yamlfix
  entry: poetry run yamlfix
  language: system

bump version 1.05
  pyproject.toml
Due: none

mypy fix
  cwms/users/users.py
Due: black, isort

Add TS shift example from class (#280)
  examples/08_cwms_ts_shift_examples.ipynb
Due: none

fix users endpoint (#278)
  cwms/catalog/catalog.py
  cwms/users/users.py
  pyproject.toml
  tests/cda/users/users_CDA_test.py
Due: black, isort

fix issue with storing null values
  cwms/timeseries/timeseries.py
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

add data copy
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

fix null copying
  cwms/timeseries/timeseries.py
  pyproject.toml
Due: black, isort

283 missing data is converted to nan and cant be re inserted (#284)
  cwms/timeseries/timeseries.py
  pyproject.toml
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

Set multithread default to true
  cwms/timeseries/timeseries.py
Due: black, isort

Fix the formatting for catalog_resources tests
  tests/cda/catalog/catalog_resources.py
Due: black, isort

Fix lob formatting
  tests/cda/catalog/lob_CDA_test.py
Due: black, isort

270 enforce line endings (#271)
  .editorconfig
  .gitattributes
Due: none

Pass the ID in the query if it has invalid chars. (#242)
  cwms/catalog/blobs.py
  cwms/catalog/clobs.py
  cwms/utils/checks.py
  docker-compose.yml
  tests/cda/blobs/blob_CDA_test.py
  tests/cda/blobs/test_blobs_binary.py
  tests/cda/catalog/catalog_resources.py
  tests/cda/catalog/lob_CDA_test.py
Due: black, isort, yamlfix

Add Additional Args for Store Multiple TS Function (#276)
  cwms/timeseries/timeseries.py
  pyproject.toml
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

fix error suppresion in store_timeseries chunk
  cwms/timeseries/timeseries.py
  pyproject.toml
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

update get_timeseries to retry failed chunks and raise error...update fetch_timeseries to retry failed chunk and raise error
  cwms/timeseries/timeseries.py
Due: black, isort

update test for get_timeseries failed chunk
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

update ts group calls to match cda changes
  cwms/timeseries/timeseries_group.py
Due: black, isort

update ts group calls to match cda changes (#290)
  cwms/timeseries/timeseries_group.py
Due: black, isort

Support batch bearer context env
  README.md
  cwms/api.py
  tests/mock/api_test.py
Due: black, isort

bump requests, black, and pytest to fix GitHub security vulnerabilities with python version constraints to maintain 3.9 support
  poetry.lock
  pyproject.toml
Due: none

Stabilize batch token auth CI
  .github/workflows/testing.yml
  compose_files/togglz/features.properties
  docker-compose.yml
Due: yamlfix

Stabilize CDA timeseries integration test
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

Add batch token session comments
  cwms/api.py
Due: black, isort

Add USE_NEW_LRTS_IDS module variable, getter, and setter to api.
  cwms/api.py
  pyproject.toml
Due: black, isort

format with black
  cwms/api.py
Due: black, isort

Stabilize CI runtime dependencies
  .github/workflows/testing.yml
  compose_files/togglz/features.properties
  docker-compose.yml
  tests/cda/timeseries/timeseries_groups_test.py
Due: black, isort, yamlfix

trivial change for force rebuild
  pyproject.toml
Due: none

update users and keys for testing
  compose_files/sql/users.sql
  tests/cda/conftest.py
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

user fix
  compose_files/sql/users.sql
Due: none

fixes to tests run on 3.9 and 3.13
  .github/workflows/CDA-testing.yml
  .github/workflows/testing.yml
  compose_files/sql/users.sql
  tests/mock/ratings/rating_spec_test.py
  tests/mock/ratings/rating_template_test.py
Due: black, isort, yamlfix

fix user for test
  compose_files/sql/users.sql
Due: none

fix test
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

update users and keys for testing (#300)
  .github/workflows/CDA-testing.yml
  .github/workflows/testing.yml
  compose_files/sql/users.sql
  tests/cda/conftest.py
  tests/cda/timeseries/timeseries_CDA_test.py
  tests/mock/ratings/rating_spec_test.py
  tests/mock/ratings/rating_template_test.py
Due: black, isort, yamlfix

add support for the cwms properties api
  cwms/__init__.py
  cwms/properties/properties.py
  tests/properties/properties_test.py
  tests/resources/properties.json
  tests/resources/property.json
Due: black, isort

fix the version used on the projects endpoints
  cwms/projects/projects.py
Due: black, isort

fix the version used on the projects endpoints (#294)
  cwms/projects/projects.py
Due: black, isort

Initial implementation for properties endpoint support
  cwms/__init__.py
  cwms/properties/properties.py
Due: black, isort

Mock tests added along with associated resource files.
  cwms/properties/properties.py
  tests/cda/properties/properties_CDA_test.py
  tests/mock/properties/properties_test.py
  tests/resources/properties.json
  tests/resources/property.json
Due: black, isort

Dropped mock tests, added integration tests.
  cwms/properties/properties.py
  tests/cda/properties/properties_CDA_test.py
  tests/mock/properties/properties_test.py
Due: black, isort

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  yamlfix: any of: \.(yaml|yml)$
