Repository HydrologicEngineeringCenter/cwms-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, yamlfix

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

yamlfix:
  name: yamlfix
  entry: poetry run yamlfix
  language: system

If editor does not support saving with a specific eol, make sure it commits with that eol
  .gitattributes
Due: none

Ensure apikey does not bleed out into any stdouts
  tests/cda/conftest.py
Due: black, isort

Didn't mean to merge other branch in!
  .editorconfig
  .gitattributes
Due: none

Comment the roles so the coverage is more clear
  tests/cda/users/users_CDA_test.py
Due: black, isort

Add additional error types and make sure a message can be passed
  cwms/api.py
Due: black, isort

Capture the various error codes and wrap with a friendlier user message
  cwms/users/users.py
Due: black, isort

Give q0hectest admin over LRL, SPK, and MVP for users tests
  compose_files/sql/users.sql
Due: none

add a utility method for user error management
  cwms/users/users.py
Due: black, isort

Allow options for admin vs nonadmin api key env imports
  tests/cda/conftest.py
Due: black, isort

Add a test for friendly roles and a test to ensure roles being set, confirm admin role
  tests/cda/users/users_CDA_test.py
Due: black, isort

Fix typing error on user profile response
  cwms/users/users.py
Due: black, isort

Patch bump
  pyproject.toml
Due: none

Add a one-off user for a forbidden lookup test
  tests/cda/users/users_CDA_test.py
Due: black, isort

Change from latest-dev to latest (#269)
  docker-compose.yml
  tests/cda/locations/physical_locations_CDA_test.py
Due: black, isort, yamlfix

Remove debug statement with api key present
  cwms/api.py
Due: black, isort

Remove the other printout of the API key
  tests/cda/conftest.py
Due: black, isort

Fix new line in the docker compose
  docker-compose.yml
Due: yamlfix

Update docker-compose.yml
  docker-compose.yml
Due: yamlfix

Update 403 test key to non-admin user
  compose_files/sql/users.sql
  tests/cda/conftest.py
Due: black, isort

Set api version explicitly for outlets endpoint to 1 (#258)
  cwms/outlets/outlets.py
  pyproject.toml
Due: black, isort

Add ALL Methods for Users Endpoints (#268)
  compose_files/sql/users.sql
  cwms/__init__.py
  cwms/api.py
  cwms/users/users.py
  docker-compose.yml
  examples/07_cwms_users_examples.ipynb
  tests/cda/conftest.py
  tests/cda/users/users_CDA_test.py
Due: black, isort, yamlfix

Add the option to provide a token to the init of cwms-python
  cwms/api.py
Due: black, isort

Update the readme and contributing to account for the token changes
  CONTRIBUTING.md
  README.md
Due: none

Add an example for taking the access token from an input prompt and using it to get a user profile from CDA
  examples/other/cwms_token_profile_check.py
Due: black, isort

274 allow token usage for cwms cli (#275)
  CONTRIBUTING.md
  README.md
  cwms/api.py
  examples/other/cwms_token_profile_check.py
Due: black, isort

Ensure we expose the multi thread option and enable store_multi_ts to handle needed params
  cwms/timeseries/timeseries.py
Due: black, isort

Update the multi ts tests to include the new kwargs
  tests/cda/timeseries/timeseries_CDA_test.py
Due: black, isort

fix users endpoint
  cwms/catalog/catalog.py
  cwms/users/users.py
  pyproject.toml
  tests/cda/users/users_CDA_test.py
Due: black, isort

Bump version from 1.0.3 to 1.0.4
  pyproject.toml
Due: none

Add TS shift example from class
  examples/08_cwms_ts_shift_examples.ipynb
Due: none

Bump version from 1.0.3 to 1.0.4 (#279)
  pyproject.toml
Due: none

Remove 500 generic error from the retry
  cwms/api.py
Due: black, isort

Gracefully handle and retry requests errors
  cwms/api.py
  tests/mock/api_test.py
Due: black, isort

Fix baseexception import
  cwms/api.py
Due: black, isort

Remove baseexception
  cwms/api.py
Due: black, isort

DRY - test endpoint
  tests/mock/api_test.py
Due: black, isort

281 handle 500 retry error (#282)
  cwms/api.py
  tests/mock/api_test.py
Due: black, isort

fix office filter to removes other office roles
  cwms/users/users.py
  tests/cda/users/users_CDA_test.py
Due: black, isort

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  yamlfix: any of: \.(yaml|yml)$
